.line-height-min {
  line-height: var(--line-height-min);
}

.ft-large {
  font-size: var(--ft-large);
}

.forest {
  background-color: var(--Forest) !important;
  border: none !important;
  min-width: 6rem;
}
