.no-underline-hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-style: normal;
  transition: all 0.2s ease;
}

.no-underline-hover:hover {
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
